
@mixin mt($time){
	transition: all $time ease;
	-webkit-transition: all $time ease;
	-moz-transition: all $time ease;
	-o-transition: all $time ease;
}

@mixin fsr($px){
    font-size: $px / 16 + rem;
}
