
@import "mixins_all.scss";

*, *::before, *::after {
	box-sizing: inherit;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: $gray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $gray;
}

body{
	background: $white;
	font-family: $roboto;
}

.center-layer{
	aside{
		border: 1px solid $gray;
		margin-bottom: 15px;
	}

	.error{
		border: 1px solid $red;
	}

	.custom-btn{
		display: block;
		width: 100%;
		height: 38px;
		line-height: 38px;
		outline: none;
		text-decoration: none;
		text-align: center;
		margin: 0;
		padding: 0;
		border: 5px;
		border: 2px solid $btn-color;
		background-color: $white;
		cursor: pointer;
		color: $btn-color;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		@include mt(0.4s);

		&:hover{
			border-color: transparent;
			background-color: $btn-color;
			color: $white;
			@include mt(0.2s);
		}
	}

	.title{
		position: relative;
		margin-bottom: 15px;

		&:after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			height: 1px;
			background-color: $gray;
			z-index: 1;
		}
		h5{
			padding-right: 15px;
			display: inline-block;
			margin: 0;
			color: gray;
			background-color: $white;
			position: relative;
			font-weight: 400;
			font-style: italic;
			z-index: 2;
			@include fsr(18);
		}
	}

	.sm-title{
		margin: 0;
		color: $black;
		font-weight: 400;
		@include fsr(20);
	}

	.custom-radio{
		position: relative;

		.radio{
			width: 40px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			padding: 7px 0;

			label{
				width: 100%;
				height: 20px;
				line-height: 20px;
				display: block;
				text-align: center;
				background-color: transparent;
				-webkit-border-radius: 0px;
				-moz-border-radius: 0px;
				border-radius: 0px;
				color: $black;
				border-bottom: 1px dotted $black;
				@include fsr(16);
				@include mt(0.4s);
			}

			input[type="radio"]{
				position: absolute;
				left: -100px;
				top: -100px;
				opacity: 0;
				z-index: -9999;

				&:checked{
					&+label{
						background-color: $green;
						border-bottom-color: transparent;
						color: $white;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						border-radius: 3px;
						@include mt(0.2s);
					}
				}
			}
		}
	}

	.progress{
		margin-bottom: 15px;
	}

	.customize-progress{
		position: relative;
		background-color: $green-l;

		.overlay{
			height: 100%;
			width: 100%;
			background-color: $green-d;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0.9;
			@include mt(0.3s);
		}
	}
}

.overflow{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 888;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.popup{
	width: 90vw;
	max-height: 90vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: fixed;
	z-index: 999;
	border-radius: 5px;
	background-color: $white;
	padding: 45px 25px;
	overflow: auto;
	display: none;
	overflow: auto;

	.close{
		right: 15px;
		top: 5px;
		cursor: pointer;
		position: absolute;
	}

	p{
		text-indent: 20px;
	}
}


//@import "common/media.scss";